<!--
    Called in full_thesis.html
    Thesis Introduction part 
-->
{% load static %}
<section class="sections">
    <h2 class="main_subtitle">1. Introduction</h2>
    <h3 class="main_heading">Heading</h3>
    <p class="main_text">In this project we analyzed satellite telemetry data provided by MedTurtles Life project, which aims to improve the conservation status of sea turtles’ populations of European Union (EU) conservation concern [4]. As subject of the study, we had the worldwide distributed loggerhead sea turtle (Caretta caretta), that is globally classified on the IUCN Red List of Threatened Species as vulnerable, and in our study area, the Mediterranean Sea, its sub-population is classified as Least Concern, granted that careful management are maintained [3]. <br><br>
        Considering that a variety of studies can be important for the preservation of a threatened species, given the fact that we become increasingly aware of that species behavior, we decided to focus our project on turtle diving topics to deepen understanding of sea turtle behavior and practices.<br><br>
        The data analysis was accomplishable through a new generation of satellite tags, that we used to study Marine Turtles movements post-nesting in the Mediterranean Sea. This new system, belonging to the fourth generation (Gen4) GPS technology and released in 2008 by Telonics, Inc [1]; allowed the integration of data-transfer components that we could receive regularly throughout the study. <br><br>
        Satellite transmitters were attached to four nesting females, in the Province of Reggio Calabria, near Brancaleone, in Italy. All of them were tagged while laying their eggs, since once the loggerhead sea turtles start oviposition, they hardly abandon their nests and can be quite approachable [6], considerable amount of time for the placement procedure of the data transmitter device. Additionally, transmitters are designed to prevent animal injuries; moreover, other researchers recorded tracked females that returned to successfully nest again [7]. <br><br>
        The study of loggerhead sea turtle distribution and habitat use is complex [10], if we consider their aquatic life, remote distribution and high mobility. Even though knowledge gaps persist, satellite tracking system allows enhanced understanding of those aspects, sending the animal data to orbiting satellites wherever the tracked turtles surface to breath [2].<br><br>
        The Product model utilized was the “SeaTrkr-4375-4” and the selection of data-transfer we acquired from the Gen4 GPS systems were the GPS-Argos Systems and the GPS-Iridium Systems. The use of both technologies was essential to achieve the purposes of the study which included the definition of the recorded location accuracy, the direction and path representation followed by the tracked turtles, as well as the proposition of a method that could demonstrate in an interactive way the animal occurrence at different depths of the Mediterranean Sea in certain GPS recorded positions.<br><br>
        </p>

        <h3 class="main_heading">Heading</h3>
        <p class="main_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        <h3 class="main_heading">Heading</h3>
        <p class="main_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section><!-- end introduction -->