[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-fontawesome-5 = "*"
django-plotly-dash = "*"
channels = "*"
daphne = "*"
redis = "*"
django-redis = "*"
channels-redis = "*"
dash-bootstrap-components = "*"
crispy-bootstrap5 = "*"
dpd-static-support = "*"
whitenoise = "*"
pandas = "*"
requests = "*"
dash-canvas = "*"
pyproj = "*"

[dev-packages]

[requires]
python_version = "3.9"
