/* satellite_telemetry_data_analysis-project
GPS Tracking - Marine Turtle | Juliana Nicacio */

/* being called in base.html

/* Base styles
   ========================================================================== */
/**
 * Box Model Hack:
 * 1. Firefox.
 * 2. Safari/Chrome/iOS/Android.
 * 3. IE.
 */
*{
	-moz-box-sizing:border-box; /* 1 */
	-webkit-box-sizing:border-box; /* 2 */
	box-sizing:border-box; /* 3 */
}
/**
 * CSS variables - Proj Colors:
 */
:root {
	--greenPlant: #292a0e;
	--brownGreen: #60643c;
	--lightBrown: #7e5c14;
	/*--sarasotaSand: #DFCA86;
	--don: #E2DDA7;*/
	--pumpkins: #C48A0A;
	--oliveGreen: #B4BB61;
	--solidGround: #70380F;
	--chocolate: #774F38;
	/*--strawberrySugar: #E08E79;
	--creme: #F1D4AF;*/
	--powderpuff: #ECE5CE;
	/*--charlotte: #C5E0DC;*/
}
/**
 * Clear Class (used when floating divs):
 */
.clear {
	clear:both;
}
/* Layout - Mobile version
   ========================================================================== */


/* Layout - Desktop version
   ========================================================================== */

@media (min-width: 768px) {
  .navbar-brand.abs
       {
           position: absolute;
           width: 100%;
           left: 0;
           text-align: center;
       }
   }

/*@media only screen and (min-width: 1000px/*1060px*/     /*)  {
  #container {
    width: 100%;
		margin: 0 auto;
  }
}*/
